<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculation from python</title>
</head>
<body>
    <form action="/calculatenode" method="post">
        <input type="number" name="a"> <br>
        <input type="number" name="b"> <br>
        <input type="submit" value="Add"> <br>
    </form>
    <% if (data) { %>
        <h1>The sum of <%= data.received.a %> and <%= data.received.b %> is <%= data.sum %></h1>
     <% } else { %>
      <h2>Data is not received</h2>
    <% } %>
</body>
</html>